# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMakeList
cmake-build-debug/*
.idea/*

# Node
node_modules/
```

# Verilog
*.wpc
*.lpr
*.xpr

*runs*
*ip_user_files*
*hw*
*cache*

*.dir
*.wdf
*.xml
*.rst
*.tcl
*.vdi
*.pb
*.rpt
*.rpx
*.dcp
*.bat
*.sh
*.log
*.jou
*.vds
*.svtype
*.sdb
*.rlx
*.ini
*.dgb
*.mem
*.dbg
*.c
*.rtti
*.xdbg
*.type
*.prj
*.reloc
*.wdb